extends layout.pug

block styles
        style
            // For some reason PUG will not look in public/css. Stylesheets must be kept alongside PUG pages.
            include ./style.css 
block scripts

block content
  div(class="image-container")
    img(src='public/images/england.JPG' class="england-image")
    div(class="buttons-container")
      div(class="cleveland-way-container")
        a.btn(id="trailCHKpt1" href="/checkpoint/1" class="cleveland-way-buttons" style="left:360px; top:400px;") Filey
        a.btn(id="trailCHKpt2" href="/checkpoint/2" class="cleveland-way-buttons" style="left:325px; top:375px;") Saltburn-by-the-Sea
        a.btn(id="trailCHKpt3" href="/checkpoint/3" class="cleveland-way-buttons" style="left:325px; top:395px;") Helmsley

    div(class="england-coast-path-container")
      div(class="england-coast-path-south-west-container")
      div(class="buttons-container")
      a.btn(href="/" class="england-coast-path-buttons" style="left:130px; top:715px;") Minehead
        a.btn(href="/" class="england-coast-path-buttons" style="left:130px; top:715px;") St Ives
        a.btn(href="/" class="england-coast-path-buttons" style="left:130px; top:715px;") Brixham
        a.btn(href="/" class="england-coast-path-buttons" style="left:130px; top:715px;") Poole
