extends layout.pug

block styles
        style
            // For some reason PUG will not look in public/css. Stylesheets must be kept alongside PUG pages.
            include ./style.css 
block scripts
  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script(src='./script.js')
    

block content
  div(class="image-container")
    img(src='public/images/england.JPG' class="england-image")
    div(class="buttons-container")
      div(class="cleveland-way-container")
        // Filey
        a.btn(id="trailCHKpt0" href="/checkpoint/0" class="cleveland-way-buttons" style="left:360px; top:400px;") 
        // Saltburn-by-the-Sea
        a.btn(id="trailCHKpt1" href="/checkpoint/1" class="cleveland-way-buttons" style="left:325px; top:375px;")
        // Helmsley 
        a.btn(id="trailCHKpt2" href="/checkpoint/2" class="cleveland-way-buttons" style="left:325px; top:395px;") 

    div(class="england-coast-path-container")
      div(class="england-coast-path-south-west-container")
      div(class="buttons-container")
        // Minehead
        a.btn(id="trailCHKpt3" href="/checkpoint/3" class="england-coast-path-buttons" style="left:217px; top:636px;") 
        // St Ives
        a.btn(id="trailCHKpt4" href="/checkpoint/4" class="england-coast-path-buttons" style="left:130px; top:715px;") 
        // Brixham
        a.btn( id="trailCHKpt5" href="/checkpoint/5" class="england-coast-path-buttons" style="left:222px; top:694px;") 
        // Poole
        a.btn(href="/" class="england-coast-path-buttons" style="left:299px; top:675px;") 

    div(class="north-downs-way-container")
      div(class="buttons-container")
        // Dover 
        a.btn(id="trailCHKpt6" href="/checkpoint/6" class="north-downs-way-buttons" style="left:450px; top:636px;") 
        // Kent 
        a.btn(id="trailCHKpt7" href="/checkpoint/7" class="north-downs-way-buttons" style="left:433px; top:628px;")
        // Otford 
        a.btn(id="trailCHKpt8" href="/checkpoint/8" class="north-downs-way-buttons" style="left:390px; top:620px;") 
        // Farnham
        a.btn(id="trailCHKpt9" href="/checkpoint/9" class="north-downs-way-buttons" style="left:350px; top:625px;") 