html
  head
    block styles
    title Hikeme Node Network
    block scripts
  body
    block content
    block foot
        #footer
    p Please imagine this is a network of IoT devices.
    p NodeJS allows for multi-threading of this OPA.
    p Try running this NodeJS app in multiple instances and clicking stuff. 
