<html>
    <header>
        <meta charset="utf-8">
        <title>{% block title %}HikeMe{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

        <nav class="h3 navbar sticky-top h-0 mt-n3">
            <blockquote class="blockquote">
                <p class="mb-0 display-2">HikeMe</p>
                <p class="text-muted"><em>Plan, view and, track your hiking progression.</em></p>
            </blockquote>
            <a class="text-dark mx-auto border-right border-left mt-n5 mb-5 px-3" href="#">Hike</a> 
            <a class="text-dark mx-auto border-right border-left mt-n5 mb-5 px-3" href="#">Statistics</a>
            <a class="text-dark mx-auto border-right border-left mt-n5 mb-5 px-3" href="#">News</a>
            <a class="text-dark mx-auto border-right border-left mt-n5 mb-5 px-3" href="#">Leaderboard</a>
            <a class="text-dark mx-auto border-right border-left mt-n5 mb-5 px-3" href="#">Account</a>
        </nav>
        
    </header>
    <body>
        <main class="main">
                {% block content %}
                {% endblock %} 
        </main>
    </body>
</html>