<html>
    <header>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no" />
          <title>{% block title %}HikeMe{% endblock %}</title>
        {% load static %}
          <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

      <div class="container-fluid">
        <div class="row">
          <div class="col pb-0 py-0 pl-0 pr-0">
            <nav id="sidebarMenu" class="d-lg-block sidebar position-sticky">
                  <div class="position-absolute w-100">
                    <div class="list-group list-group-flush">
                      <button class="btn btn-warning w-100 p-1 shadow-lg border-white font-italic" type="button" data-toggle="collapse" data-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"><span class="h1 font-weight-bold w-100">H</span></button>
                      <div class="collapse" id="collapseMenu">
                        <button href="#" class="btn btn-danger w-100 p-1 shadow border border-white">        
                            <span class="font-weight-bold font-italic">HIKE</span>
                        </button>
                        <button href="#" class="btn btn-danger w-100 p-1 shadow border border-white">
                          <span class="font-weight-bold font-italic">STATISTICS</span>
                        </button>
                        <button href="#" class="btn btn-danger w-100 p-1 shadow border border-white">
                            <span class="font-weight-bold font-italic">LEADERBOARD</span>
                        </button>
                        <button href="#" class="btn btn-danger w-100 p-1 shadow border border-white">
                          <span class="font-weight-bold font-italic">ACCOUNT</span>
                        </button>
                      </div>
                    </div>
                  </div>
              </nav>
            </div>
            <div class="col">
              <p class="display-4 font-weight-bold text-white">HikeMe.</p>
          </div>
        </div>
    </div>
    </header>


    <body class="bg-dark">
        <main>
              {% block content %}
              {% endblock %} 
        </main>

        <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.js' %}"> </script>
    </body>

    {%block script%}
    {%endblock script%}
</html>