<html>
    <header>
        <meta charset="utf-8">
        <title>{% block title %}HikeMe{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link href="{% static 'css/override.css' %}" rel="stylesheet">

        <nav class="navbar sidenav border border-primary">
            <a href="#">Hike</a> 
            <a href="#">Statistics</a>
            <a href="#">News</a>
            <a href="#">Leaderboard</a>
            <a href="#">Account</a>
        </nav>
        
    </header>
    <body>
        <main class="main">
                {% block content %}
                {% endblock %} 
        </main>
    </body>
</html>