{% extends "base.html" %}

{% block title %}HikeMe{% endblock %}

{% block script %}
    <script>
        var wsStart='ws://';
        var endpoint=wsStart + window.location.host + window.location.pathname;
        var socket = new WebSocket(endpoint);

        $(document).ready(function() { 
            $('#warning_template_container').hide();
        });     

    </script>
{% endblock script %}

{% block content %} 
            <div id="widget-container h-100">
                <div class="basic">
                    <br>
                    <div id="warning_template_container">
                        {% include "warning.html" %}    
                    </div>
                    <div id="view_hike_template_container">
                        {% include "current_hike.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}