{% extends "base.html" %}

{% block title %}HikeMe{% endblock %}

{% block content %} 
    <div class="container-fluid mt-n3">
        <div class="row container-fluid">
            <div class="col">
                <div class="row py-1">
                    <p class="px-2"><h1>{{ current_trail.name }} -
                        <small class="text-muted">{{ current_trail_checkpoint.name }}</small>
                    </h1></p>
                </div>

                <div class="row container-fluid">
                    <div class="col border-right">
                        <ul class="list-group py-3">
                            <li class="list-group-item list-group-item-danger font-weight-bold float-left">HIGH RISK<span class="badge badge-primary badge-pill float-right">{{ risk_counts.0 }}</span></li>
                            <li class="list-group-item list-group-item-warning font-weight-bold float-left">MEDIUM RISK<span class="badge badge-primary badge-pill float-right">{{ risk_counts.1 }}</span></li>
                            <li class="list-group-item list-group-item-success font-weight-bold float-left">LOW RISK<span class="badge badge-primary badge-pill float-right">{{ risk_counts.2 }}</span></li>
                            <br>
                            <button type="button" class="btn btn-outline-danger float-left">New Warning</button>
                        </ul>
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <p class="card-text">DIFFICULTY RATING<br>TRAIL LENGTH<br>CONTACT</p>
                            <a href="#" class="btn btn-primary">View Trail</a>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row py-4 container-fluid border">
                    <div class="col border-right text-center">
                        <div class="font-weight-bold font-italic">LAST CHECKPOINT</div>
                        <span class="h3">{{ current_trail_checkpoint.name }}</span>
                        <br>
                        <small class="text-muted">{{ last_check_in.datetime_of_checkin }}</small>
                    </div>
                    <div class="col border-left text-center">
                        <div class="font-weight-bold font-italic">NEXT CHECKPOINT</div>
                        <span class="h3">{{ next_checkpoint.name }}</span>
                        <br>
                        <small class="text-muted">{% now "jS F Y H:i" %}</small>
                    </div>
                </div>

                <div class="row py-4 container-fluid">
                    <div class="col border-right border-left text-center">
                        <input class="form-control form-control-lg" type="text" placeholder="Status title:">
                        <br>
                        <input class="form-control" type="text" placeholder="Write your new status here!">
                        <br>
                        <button type="submit" class="btn btn-primary">POST STATUS</button>
                    </div>
                </div>
            </div>


            <div class="col border">
                <div class="basic">
                    <br>
                    {% include "warning.html" %}    
                </div>
            </div>
            <div class="col border">
                News
            </div>
        </div>
    </div>

{% endblock %}