{% extends "base.html" %}

{% block title %}HikeMe{% endblock %}

{% block script %}
    <script>
        console.log("whats");
        base_url = window.location.hostname + ":" + window.location.port;

        const websocket = new WebSocket( "ws://" + base_url );

        websocket.onopen = function(event) {
            console.log("client connected");
            websocket.send("client sends welcome");
        }

        websocket.onmessage = function(event) {
            console.log("client says server message recieved: ", event);
        }

    </script>
{% endblock script %}

{% block content %} 
    <div class="container-fluid mt-n3">
        <div class="row container-fluid">
            <div class="col">
                <div class="row py-1">
                    <p class="px-2"><h1>{{ current_trail.name }} -
                        <small class="text-muted">{{ current_trail_checkpoint.name }}</small>
                    </h1></p>
                </div>

                <div class="row container-fluid">
                    <div class="col border-right">
                        <ul class="list-group py-3">
                            <li class="list-group-item list-group-item-danger font-weight-bold float-left">HIGH RISK<span class="badge badge-primary badge-pill float-right">{{ risk_counts.0 }}</span></li>
                            <li class="list-group-item list-group-item-warning font-weight-bold float-left">MEDIUM RISK<span class="badge badge-primary badge-pill float-right">{{ risk_counts.1 }}</span></li>
                            <li class="list-group-item list-group-item-success font-weight-bold float-left">LOW RISK<span class="badge badge-primary badge-pill float-right">{{ risk_counts.2 }}</span></li>
                            <br>
                        </ul>
                    </div>
                </div>

                <br>

                <div class="row py-4 container-fluid border">
                    <div class="col border-right text-center">
                        <div class="font-weight-bold font-italic">LAST CHECKPOINT</div>
                        <span class="h3">{{ current_trail_checkpoint.name }}</span>
                        <br>
                        <small class="text-muted">{{ last_check_in.datetime_of_checkin }}</small>
                    </div>
                    <div class="col border-left text-center">
                        <div class="font-weight-bold font-italic">NEXT CHECKPOINT</div>
                        <span class="h3">{{ next_checkpoint.name }}</span>
                        <br>
                        <small class="text-muted">{% now "jS F Y H:i" %}</small>
                    </div>
                </div>

                <div class="row py-4 container-fluid">
                    <div class="col border-right border-left text-center">
                        <button type="submit" class="btn btn-danger mr-3 p-3">NEW WARNING</button>
                        <button type="submit" class="btn btn-warning mr-3 p-3">END HIKE</button>
                        <button type="submit" class="btn btn-primary mr-3 p-3">NEW STATUS</button>
                    </div>
                </div>
            </div>


            <div class="col border">
                <div class="basic">
                    <br>
                    {% include "warning.html" %}    
                </div>
            </div>
            <div class="col border">
                News
            </div>
        </div>
    </div>

{% endblock %}